.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #7b8cde;
  z-index: -1;
}
.greetingCard {
  width: 300px;
}
